absl-py==1.4.0
aiohttp==3.9.1
aiosignal==1.3.1
ansi2html==1.8.0
array-record==0.4.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
Augmentor==0.2.12
autograd==1.6.2
backcall==0.2.0
beautifulsoup4==4.12.2
bs4==0.0.1
cachetools==5.3.1
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.1.0
chex==0.1.82
click==8.1.3
colorama==0.4.6
comm==0.1.3
ConfigArgParse==1.5.5
contourpy==1.0.7
cvzone==1.6.1
cycler==0.11.0
dash==2.11.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==2.15.0
debugpy==1.6.7
decorator==5.1.1
dill==0.3.7
dm-tree==0.1.8
etils==1.4.1
executing==1.2.0
fastjsonschema==2.17.1
filelock==3.13.1
Flask==2.2.5
flatbuffers==23.5.26
flax==0.7.2
fonttools==4.39.3
frozenlist==1.4.1
fsspec==2023.10.0
future==0.18.3
gast==0.4.0
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
grpcio==1.54.2
h5py==3.11.0
idna==3.4
imageio==2.31.0
imgaug==0.4.0
importlib-resources==6.0.0
ipykernel==6.23.3
ipython==8.14.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jax==0.4.14
jaxlib==0.4.14
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.17.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-widgets==3.0.7
keras==2.15.0
kiwisolver==1.4.4
labelImg==1.8.6
lazy_loader==0.2
libclang==16.0.0
llvmlite==0.40.0
lxml==5.1.0
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.9
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
namex==0.0.8
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
numba==0.57.0
numpy==1.23.5
oauthlib==3.2.2
open3d==0.17.0
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opt-einsum==3.3.0
optax==0.1.7
optree==0.11.0
orbax-checkpoint==0.3.5
packaging==23.2
pandas==2.0.1
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.8.0
plotly==5.15.0
promise==2.3
prompt-toolkit==1.0.14
protobuf==3.20.3
psutil==5.9.5
pure-eval==0.2.2
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.15.1
PyInquirer==1.0.3
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.0
regex==2023.10.3
requests==2.30.0
requests-oauthlib==1.3.1
retrying==1.3.4
rich==13.5.2
rsa==4.9
safetensors==0.4.1
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.10.1
shapely==2.0.1
six==1.16.0
Solution==5.4.0
sounddevice==0.4.6
soupsieve==2.4.1
stack-data==0.6.2
sympy==1.11.1
tenacity==8.2.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.15.1
tensorflow-cpu==2.16.1
tensorflow-decision-forests==1.8.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-intel==2.15.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.1
tensorflowjs==2.0.0
tensorstore==0.1.41
termcolor==2.3.0
tf_keras==2.15.1
threadpoolctl==3.2.0
tifffile==2023.4.12
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.0
torch==2.1.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
wcwidth==0.2.6
Werkzeug==2.2.3
widgetsnbextension==4.0.7
wrapt==1.14.1
wurlitzer==3.1.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.16.2
